.parentWrapper {
    width: 100%;
    overflow-x: hidden; 
  }
  
  .imageWrapper {
    overflow: hidden;
    padding-bottom: 50px; 
  }
  
  .imageScroll {
    display: flex;
    width: max-content; 
    white-space: nowrap; 
  }
  
  .imageScroll div {
    flex-shrink: 0;
  }
  
  .imageScroll img {
    object-fit: cover;
    margin-right: 10px;
  }


  .title {
    text-align: center;
    font-size: 30px;
  }
  
  .parent {
    height: 650px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 1;
    transform: translate(-13%, 0);
  }
  
  .box {
    width: max-content;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
    border: 1px solid #ddd;
  }
  
  .box1 {
    width: 50vw;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    transition: all 0.3s linear;
    border: 1px solid #ddd;
    flex-shrink: 0;
    background-color: rgba(245, 100, 243, 0.317);
  }
  
  button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(237, 236, 236);
    border: none;
  }
  

  .parent {
    overflow-x: scroll;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Adjust this as needed */
  }
  
  .box {
    width: 20%; /* Adjust the width percentage based on the number of images */
    overflow: hidden;
  }
  
  